<header style="background-color: lightgreen; padding: 20px; text-align: center;">
    <h1>Welcome to My Website!</h1>
    <nav>
        <ul style="list-style: none; padding: 0; display: flex; justify-content: center; align-items: center; margin: 20px 0;">
            <li style="margin: 0 15px;"><a href="../index.html">Home</a></li>
            <li style="margin: 0 15px;"><a href="../history/history.html">History</a></li>
            <li style="margin: 0 15px;"><a href="../journeys/Myjourney.html">Journeys</a></li>
            <li style="margin: 0 15px;"><a href="../portfolio/portfolio.html">Portfolio</a></li>
        </ul>
    </nav>
</header>
