<header style="background-color: lightgreen; padding: 20px; text-align: center;">
    <h1>Welcome to My Website!</h1>
    <nav>
        <ul style="list-style: none; padding: 0; display: flex; justify-content: center; align-items: center; margin: 20px 0;">
                <li style="margin: 10 15px;"></li><a href="https://github.com/geekyyey/" target="_blank" rel="noopener noreferrer"><img src="templateimages/icons8-github-50.png" alt="GitHub"></a></li>
                <li style="margin: 0 15px;"><a href="https://www.linkedin.com/in/yeylopez/" target="_blank" rel="noopener noreferrer"><img src="../templates/templateimages/icons8-linkedin-48.png" alt="LinkedIn"></a></li>
                <li style="margin: 0 15px;"><a href="portfolio/portfolio.html"><img src="templateimages/icons8-it-48.png" alt="IT Portfolio Icon"></a></li>
                <li style="margin: 0 15px;"><a href="journeys/Myjourney.html"><img src="templateimages/journey.png" alt="Journey Icon"></a></li>
        </ul>
    </nav>
</header>
